:root {
  --lightblue: #2fa8e0;
  --darkblue: #106a94;
  --red: #e00421;
  --yellow: #e0d819;
  --gold: #948f18;
}

* {
  font-family: "Space Grotesk", sans-serif;
  
}

 #bt{
  font-size: 15px;
  color:lightblue;
}

 .custom-panel h1 {
  text-align: center;
  font-family: "Space Grotesk", sans-serif;
  color: white;
  font-size: 70px;
}

.custom-panel {
  background-image: url(../assets/imgs/rural-road_JUWHTFEDY9.jpg);
  width: 100%;
  height: 200px;
  background-size: cover;
} 

.search-button {
  background-color: var(--darkblue);
  height: 35px;
  width: 60px;
  color: white;
}

.footerpanel {
  position: relative;
  top: 255px;
  height: 150px;
  background-color: var(--lightblue);
  text-align: center;
  
}
.footerpanel p{
  font-family: "Space Grotesk", sans-serif;
  color: white;
  font-size: 30px;
  position: relative;
  top: 50px;

}

#right-panel {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  font-family: "Roboto", "sans-serif";
  line-height: 30px;
  padding-left: 10px;
}

#right-panel select,
#right-panel input {
  font-size: 15px;
}

#right-panel select {
  width: 100%;
}

#right-panel i {
  font-size: 12px;
}

 #map {
  position: absolute;
  height: 60%;
  width: 50%;
  float: right;
  align-content: center;
  top: 200px;
  left: 450px;
}  

.gasPrice {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: nowrap;
    position: absolute;
    top: 200px;
    right: 100px;

} 
  
.list {
  position: absolute;
  top: 100px;
  display: flex;
  justify-content: right;
}

.googlesearch {
  position: absolute;
  top: 100px;
  right: -600px;

}

#directions-panel {
  position: absolute;
  top: 150px;
  background-color: var(--darkblue);
  color: white;
  font-size: 20px;
  padding: 10px;
  overflow: scroll;
  height: 174px; 
} 

/* start of modal styling */
 .modalForm {
  position: static;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.translucent-form-overlay {
  max-width: 250px;
  width: 25%;
  background-color: rgba(54, 54, 54, 0.8);
  padding: 20px;
  color: #fefefe;
}

.translucent-form-overlay .columns.row {
  display: block;
}

.translucent-form-overlay h2,
.translucent-form-overlay label {
  color: #fefefe;
}

.translucent-form-overlay input,
.translucent-form-overlay select {
  color: #8a8a8a;
}

.translucent-form-overlay input::-webkit-input-placeholder {
  color: #8a8a8a;
}

.translucent-form-overlay input:-ms-input-placeholder {
  color: #8a8a8a;
}

.translucent-form-overlay input::placeholder {
  color: #8a8a8a;
}

#theGasP{
  border: lightblue solid 10px;
  background-color: burlywood
  
}