:root {
    --lightblue: #2fa8e0;
    --darkblue: #106a94;
    --red: #e00421;
    --yellow: #e0d819;
    --gold: #948f18;
} 

* {
    font-family: 'Space Grotesk', sans-serif;
}

h1 {
    text-align: center;
    font-family: 'Space Grotesk', sans-serif;
    color: white;
    font-size: 65px;
}


.custom-panel {
    background-image: url(https://cdn.stocksnap.io/img-thumbs/960w/rural-road_JUWHTFEDY9.jpg);
    width: 100%;
    background-size: cover;
    background-position: center;
}

.search-button {
    background-color: var(--darkblue);
    height: 35px;
    width: 60px;
    color: white;
}

.panel {
    background-color: var(--lightblue);
    text-align: center;
    font-family: 'Space Grotesk', sans-serif;
    color: white;
    font-size: 25px;
    flex-direction: flex-end;
}

.map {
    border: var(--darkblue);
}

#right-panel {
    font-family: "Roboto", "sans-serif";
    line-height: 30px;
    padding-left: 10px;
  }

  #right-panel select,
  #right-panel input {
    font-size: 15px;
  }

  #right-panel select {
    width: 100%;
  }

  #right-panel i {
    font-size: 12px;
  }

  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  #map {
    height: 100%;
    float: left;
    width: 40%;
    height: 100%;
  }

  #right-panel {
    margin: 20px;
    border-width: 2px;
    width: 20%;
    height: 400px;
    float: left;
    text-align: left;
    padding-top: 0;
  }

  #directions-panel {
    margin-top: 10px;
    background-color:var(--darkblue);
    color:white;
    font-size: 20px;
    padding: 10px;
    overflow: scroll;
    height: 174px;
  }


  
/* start of modal styling */

.translucent-form-overlay {
  max-width: 250px;
  width: 25%;
  background-color: rgba(54, 54, 54, 0.8);
  padding: 20px;
  color: #fefefe;
}

.translucent-form-overlay .columns.row {
  display: block;
}

.translucent-form-overlay h3, .translucent-form-overlay label {
  color: #fefefe;
}

.translucent-form-overlay input, .translucent-form-overlay select {
  color: #8a8a8a;
}

.translucent-form-overlay input::-webkit-input-placeholder {
  color: #8a8a8a;
}

.translucent-form-overlay input:-ms-input-placeholder {
  color: #8a8a8a;
}

.translucent-form-overlay input::placeholder {
  color: #8a8a8a;
}

