:root {
    --lightblue: #2fa8e0;
    --darkblue: #106a94;
    --red: #e00421;
    --yellow: #e0d819;
    --gold: #948f18;
} 

* {
    font-family: 'Space Grotesk', sans-serif;
}

.custom-panel {
    background-image: url(https://cdn.stocksnap.io/img-thumbs/960w/rural-road_JUWHTFEDY9.jpg);
    width: 100%;
    background-size: cover;
    background-position: center;
}

h1 {
    text-align: center;
    font-family: 'Space Grotesk', sans-serif;
    color: white;
    font-size: 65px;
}

.search-button {
    background-color: var(--darkblue);
    height: 35px;
    width: 60px;
    color: white;
}

.panel {
    background-color: var(--lightblue);
    text-align: center;
    font-family: 'Space Grotesk', sans-serif;
    color: white;
    font-size: 25px;
    flex-direction: flex-end;
}

.map {
    border: var(--darkblue);
}
